<!-- jquery-ui -->
<script src="/static/plugins/jquery-ui.min.js"></script>

<!-- d3.js -->
<script src="/static/plugins/d3/d3.min.js"></script>
<!-- datepicker -->
<script src="/static/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/static/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>

<!-- nicescroll -->
<script src="/static/plugins/jquery.nicescroll/jquery.nicescroll.min.js"></script>

<script src="/static/plugins/skycons/skycons.js"></script>
<script src="/static/plugins/jquery-knob/js/jquery.knob.js"></script>

<!-- echart -->
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=Bp7u5buCk50MW9vp9ufmnFD34d2z2KBH&s=1"></script>
<script type="text/javascript" src="/static/plugins/echarts/echarts.min.js"></script>
<script src="/static/plugins/echarts/theme/macarons.js"></script>
<!-- 引入百度地图扩展 -->
<script src="/static/plugins/echarts/extension/bmap/bmap.min.js"></script>
<script src="/static/product/scripts/hashmap.js"></script>

<script>
    //var collectCountOfMonthChart = echarts.init(document.getElementById('collectCountOfMonth'));
    //var overviewTodayChart = echarts.init(document.getElementById('overviewTodayChart'), 'macarons');
    //var myChart = echarts.init(document.getElementById('world-map-gdp'));

    $(function () {
        pageInit();
    });

    function pageInit() {
        loadMoveContainer();
        //loadDatepicker();
        //loadSkycons();

        //loadCollectCountOfMonth();
        //loadOverviewToday(new Date());
        //loadOverviewChoice();

        //loadTree();
        //loadDtuRowToday();
        //loadDtuCount();
        //loadMonthCollector();
        //loadEchartsMap();
        loadWeather();

        // $(window).resize(function () {
        //     collectCountOfMonthChart.resize();
        // });
    }

    function loadMoveContainer() {
        // Make the dashboard widgets sortable Using jquery UI
        $('.connectedSortable').sortable({
            placeholder: 'sort-highlight',
            connectWith: '.connectedSortable',
            handle: '.box-header, .nav-tabs',
            forcePlaceholderSize: true,
            zIndex: 99,
            update: function (event, ui) {
                collectCountOfMonthChart.resize();
                overviewTodayChart.resize();
                $('#dtuRowToday').getNiceScroll().resize();
            }
        });
        $('.connectedSortable .box-header, .connectedSortable .nav-tabs').css('cursor', 'move');
    }

   

    function loadSkycons(){
        if( typeof (Skycons) === 'undefined'){
            return;
        }

        var icons = new Skycons({"color": "#73879C"});
        var list = ["clear-day",
                    "clear-night",
                    "partly-cloudy-day",
                    "partly-cloudy-night",
                    "cloudy",
                    "rain",
                    "sleet",
                    "snow",
                    "wind",
                    "fog"
                    ],
                    i;
        for (i = list.length; i--;)
            icons.set(list[i], list[i]);

        icons.play();
    }

    

    //获取天气
    function loadWeather(){
        var url = '{{ urlfor "HomeController.GetWeather"}}';
        $.sdpost(url, {}, function (re) {
            if (re.code === 0) {
                $("#degress").html(re.obj)
            }
        });
    }

    //监听div大小变化
    (function($, h, c) {
        var a = $([]),
                e = $.resize = $.extend($.resize, {}),
                i,
                k = "setTimeout",
                j = "resize",
                d = j + "-special-event",
                b = "delay",
                f = "throttleWindow";
        e[b] = 250;
        e[f] = true;
        $.event.special[j] = {
            setup: function() {
                if (!e[f] && this[k]) {
                    return false;
                }
                var l = $(this);
                a = a.add(l);
                $.data(this, d, {
                    w: l.width(),
                    h: l.height()
                });
                if (a.length === 1) {
                    g();
                }
            },
            teardown: function() {
                if (!e[f] && this[k]) {
                    return false;
                }
                var l = $(this);
                a = a.not(l);
                l.removeData(d);
                if (!a.length) {
                    clearTimeout(i);
                }
            },
            add: function(l) {
                if (!e[f] && this[k]) {
                    return false;
                }
                var n;
                function m(s, o, p) {
                    var q = $(this),
                            r = $.data(this, d);
                    r.w = o !== c ? o: q.width();
                    r.h = p !== c ? p: q.height();
                    n.apply(this, arguments);
                }
                if ($.isFunction(l)) {
                    n = l;
                    return m;
                } else {
                    n = l.handler;
                    l.handler = m;
                }
            }
        };
        function g() {
            i = h[k](function() {
                        a.each(function() {
                            var n = $(this),
                                    m = n.width(),
                                    l = n.height(),
                                    o = $.data(this, d);
                            if (m !== o.w || l !== o.h) {
                                n.trigger(j, [o.w = m, o.h = l]);
                            }
                        });
                        g();
                    },
                    e[b]);
        }
    })(jQuery, this);
</script>